<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="/">Go in 5 Minutes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/screencasts">Episodes</a>
            </li>
            <li class="nav-item">
                <a href="/subscribe">Subscribe</a>
            </li>
            <li class="nav-item">
                <a href="/backers">Backers</a>
            </li>
        </ul>
        <a href="https://bitly.com/goin5minutes" target="_blank">
            Code <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
        <a href="https://www.patreon.com/goin5minutes" target="_blank">
            Become a Patron 
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
    </div>
</nav>
